.page {
    margin: 2%;
}

.lesoptions {
    display: flex;
    justify-content: space-around;
    align-items: center;
    align-items: flex-start;
    text-align: center;
    gap: 20px;
}
.option {
    width: 95%;
}
